@model ApiGestionStock.Models.Commande

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Commande</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.NomClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.NomClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockProduit.CodeBar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockProduit.CodeBar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCommande }) |
    @Html.ActionLink("Back to List", "Index")
</p>
